body{
  width: 100vw;
}

/*Cursor*/
#about .bg-secondary::after {
  content: "|";
  display: inline-block;
  font-weight: bolder;
  font-size: 1em;
  animation: blink 1s infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

/*Skill-Section*/

.skill-container {
  background: linear-gradient(to right, #4a4d75, #5d5c8e, #a5a5a5);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*Icons*/

.card-body {
  color: #fff;
}

.card-title {
  color: black;
}

.card-body:hover .fa-html5 {
  transform: rotateZ(45deg);
  transition: transform 0.7s ease-in-out;
}

.card-body:hover .fa-css3-alt {
  transform: rotateZ(45deg);
  transition: transform 0.7s ease-in-out;
}

.card-body:hover .fa-js-square {
  transform: rotateZ(45deg);
  transition: transform 0.7s ease-in-out;
}

.card-body:hover .fa-bootstrap {
  transform: rotateZ(45deg);
  transition: transform 0.7s ease-in-out;
}

.card-body .fa {
  animation: none;
  transform-origin: center;
}

.card-body:hover .fa {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.card-body:hover .fa-html5 {
  animation: neon 1s ease-in-out infinite alternate;
}

.card-body:hover .fa-css3-alt {
  animation: neon 1s ease-in-out infinite alternate;
}

.card-body:hover .fa-js-square {
  animation: neon 1s ease-in-out infinite alternate;
}

.card-body:hover .fa-bootstrap {
  animation: neon 1s ease-in-out infinite alternate;
}

@keyframes neon {
  0% {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #d694ff,
      0 0 70px #d694ff, 0 0 80px #d694ff, 0 0 100px #d694ff, 0 0 150px #d694ff;
  }
  100% {
    color: #9d00ff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #d694ff,
      0 0 35px #d694ff, 0 0 40px #d694ff, 0 0 50px #d694ff, 0 0 75px #00ff00;
  }
}

/*Watch on GitHub Buttons*/

.GitHub::after {
  content: "\f09b";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  font-size: 20px;
  margin-left: 1rem;
}

.btn-primary {
  background-color: #5e5f5f;
  border-color: #5e5f5f;
}

.btn-primary:hover {
  background-color: #5d00ff;
}

.navi {
  font-size: larger;
}
