@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("/image/pexels-felix-mittermeier-956999.jpg");
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.container {
  /* Created with https://www.css-gradient.com */
  background: #131f41;
  background: -webkit-linear-gradient(top left, #131f41, #1994f2);
  background: -moz-linear-gradient(top left, #131f41, #1994f2);
  background: linear-gradient(to bottom right, #131f41, #1994f2);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  width: 400px;
  height: 650px;
  position: relative;
  top: 7rem;
  left: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  margin-top: 1rem;
}

.head h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form {
  width: 100%;
}

form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  margin-left: 2.2rem;
  align-self: flex-start;
  margin-bottom: 0.5rem;
  font-weight: bolder;
  font-size: larger;
}

input,
textarea {
  margin-bottom: 1.5rem;
  text-align: center;
  border-radius: 10px;
}

.button-10 {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 6px;
  border: none;
  width: 200px;
  padding: 1rem;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.icons i {
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
}

.icons i:hover {
  transform: scale(1.2);
}
